<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecommerce | <%= title  %> </title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.tailwindcss.com"></script>  
</head>
<body class="bg-zinc-500">

  <!-- Inicio NavBar -->
  <div class="w-full bg-black">
    <nav class="max-w-[1350px] h-[90px] mx-auto px-4 flex justify-between items-center text-white">
      <a href="/" class="flex hover:cursor-pointer">
        <span class="text-3xl text-blue-400">Ecommerce</span>
      </a>    
      <p class="text-2xl font-bold text-white">Bienvenido <%= user.nombre  %></p>      
      <ul class="flex items-center mr-2 space-x-4">
        <li class="w-[45px] h-[45px] relative group">
          <img class="border-2 border-blue-400 hover:border-white duration-300 z-20 w-full h-full object-cover hover:cursor-pointer" src="<%= user.foto %>" alt="User Image">  
            
          <ul class="bg-black text-white absolute right-0  w-[120px] rounded-lg  border-b border-l border-r border-white overflow-hidden  hidden group-hover:block duration-300">
            <li class="py-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">
              <a href="/">Inicio</a>
            </li>
            <li class="py-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">
              <a href="/api/carrito">Carrito</a>
            </li>
            <li class="pb-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">              
              <a href="/api/compras/myCompras">Compras</a>
            </li>
            <% if (user.isAdmin === 'N') { %>           
              <li class="pb-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">              
                <a href="/api/chat">Chat</a>
              </li>
            <% } %>
            <% if (user.isAdmin === 'S') { %>
              <li class="pb-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500 flex items-center space-x-2">                
                <a href="/api/admin" class="w-full flex items-center space-x-3">
                  <p>Admin</p>
                </a>
              </li>
            <% } %>
            <li class="pb-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">
              <a href="/logout">Logout</a>
            </li>            
          </ul>  
        </li>               
      </ul>        
    </nav>
  </div>
  <!-- Fin NavBar -->

  <div class="max-w-[1350px] mx-auto px-4">
    <div class="w-full py-4 text-center">
      <p class="text-3xl font-bold uppercase pb-2 text-white">Dejanos tu consulta</p>      
      <div class="w-full h-[2px] bg-red-200"></div>
    </div> 
    <div class="flex justify-center space-x-6 pb-6">
      <button id="filtrar_msj" class="bg-black text-white py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" onclick="cambiarColor(this)"> Mensajes del usuario </button>
      <button id="ver_todos" class="bg-black text-white py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" onclick="cambiarColor(this)">Todos los mensajes</button>
    </div>

    <div class="h-[calc(100vh-200px)] w-full border-2 flex flex-col overflow-hidden">
      <!-- Lista de mensajes -->
      <div id="lista_mensajes" class="flex-1 px-2 py-3 overflow-y-scroll">
        <p>sin chat</p>
      </div>

      <!-- Escribir un mensaje -->
      <div class="w-full">
        <p class="user_id hidden"><%= user._id %></p>
        <p class="user_admin hidden"><%= user.isAdmin %></p>
        <input id="msj_usr" class="w-full px-2 py-3 text-md outline-none" type="text" name="mensaje" id="mensaje" placeholder="Escribir (presione Enter para enviar)">
      </div>
      <br class="">
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script> 
  <script src="/js/chat.js"></script>
  </body>
</html>   